@*
    This is the index page for the project. Its job is to display hyperlinks to
    Onsight Connect calls between the logged-in FSM user (typically a dispatcher)
    and one or more contacts defined within the selected FSM Activity.

    A token is required to communicate with the backend, and if not contained in
    the 't' query parameter, is obtained via a call to /auth/provider which initiates
    an OpenID Connect authorization, as configured by the end-user.
*@

@page
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Onsight Connect</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/systemjs/4.1.0/system.min.js"
            integrity="sha256-i+j3ZmMaI9nPuzasKbNrT3evNnUewPBf5p9UEJdr2zA=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/fsm-shell"></script>
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body class="body">
    <script>
        const { ShellSdk, SHELL_EVENTS } = FSMShell;
        const shellSdk = ShellSdk.init(window.parent, "*");
        sessionStorage.removeItem("isRunningWithinShell");
        var receivedAnswerFromShell = false;
        var cannotLogIn = false;
        const PLEASE_CONTACT_LIBRESTREAM_MSG = "To activate this extension or for a free trial, please contact us at <a href='mailto:info@librestream.com' class='contact-link'>info@librestream.com</a>.";

        console.log("Loading ONSIGHT-CONNECT extension...");

        if (!ShellSdk.isInsideShell()) {
            showUI("noShell");
        } else {
            const urlParams = new URLSearchParams(window.location.search);
            const fromEmail = urlParams.get("from");
            const token = urlParams.get("t");

            if (fromEmail) {
                sessionStorage.setItem("fromEmail", fromEmail);
            }
            if (token) {
                sessionStorage.setItem("token", token);
            }

            shellSdk.emit(SHELL_EVENTS.Version1.REQUIRE_CONTEXT, {
                clientIdentifier: "onsight-connect-plugin",
            });

            shellSdk.on(SHELL_EVENTS.Version1.REQUIRE_CONTEXT, async (event) => {
                if (cannotLogIn) {
                    showUI("showMessage", PLEASE_CONTACT_LIBRESTREAM_MSG);
                    return;
                }

                receivedAnswerFromShell = true;
                const {
                    cloudHost,
                    accountId,
                    companyId,
                    userId
                } = JSON.parse(event);

                sessionStorage.setItem("cloudHost", cloudHost);
                sessionStorage.setItem("isRunningWithinShell", true);
                sessionStorage.setItem("accountId", accountId);
                sessionStorage.setItem("companyId", companyId);
                sessionStorage.setItem("userId", userId);
                sessionStorage.removeItem("activityId");

                if (isLoggedIn()) {
                    showUI("showMessage", "No Activity selected.");
                } else {
                    showUI("loggedOut");
                }
            });

            shellSdk.onViewState("activityID", async id => {
                if (cannotLogIn) {
                    showUI("showMessage", PLEASE_CONTACT_LIBRESTREAM_MSG);
                    return;
                }

                sessionStorage.setItem("activityId", id);
                if (isLoggedIn()) {
                    if (id) {
                        const connections = await getConnections(id);
                        showUI("showContacts", connections);
                        $("#workspaceAssets").empty();
                        $("#contentImportWorkspace").show();
                    }
                    else {
                        showUI("showMessage", "No Activity selected.");
                    }
                } else {
                    showUI("loggedOut");
                }
            });
        }

        function isLoggedIn() {
            return Boolean(sessionStorage.getItem("fromEmail"));
        }

        function idpLogin() {
            const cloudHost = sessionStorage.getItem("cloudHost");
            const accountId = sessionStorage.getItem("accountId");
            const companyId = sessionStorage.getItem("companyId");
            const userId = sessionStorage.getItem("userId");

            if (accountId && companyId && userId) {
                const data = new URLSearchParams();
                data.append("cloudHost", cloudHost);
                data.append("accountId", accountId);
                data.append("companyId", companyId);
                data.append("userId", userId);

                fetch("/auth/provider", {
                    method: "post",
                    body: data
                })
                    .then(response => {
                        if (response.ok) {
                            response.text().then(idpUrl => {
                                window.location.href = idpUrl;
                            });
                        }
                        else {
                            console.log(PLEASE_CONTACT_LIBRESTREAM_MSG);
                            cannotLogIn = true;
                            showUI("showMessage", PLEASE_CONTACT_LIBRESTREAM_MSG);
                        }
                    })
                    .catch(reason => {
                        console.log("Failed to contact auth provider: " + reason);
                        cannotLogIn = true;
                    });
            }
        }

        async function getConnections(activityId) {
            /* Forward query params on to API */
            var urls = [];
            if (!isLoggedIn()) {
                return urls;
            }

            const cloudHost = sessionStorage.getItem("cloudHost");
            const accountId = sessionStorage.getItem("accountId");
            const companyId = sessionStorage.getItem("companyId");
            const userId = sessionStorage.getItem("userId");
            const fromEmail = sessionStorage.getItem("fromEmail");
            const token = sessionStorage.getItem("token");

            if (!activityId) {
                showUI("showMessage", "No Activity selected.");
                return urls;
            }

            showUI("showMessage", "Loading contacts...");

            const response = await fetch("/api/v1/fsm/connections?h=" + cloudHost + "&a=" + accountId + "&c=" + companyId + "&av=" + activityId + "&u=" + userId + "&from=" + fromEmail, {
                method: "GET",
                mode: "cors",
                credentials: "include",
                headers: {
                    "Authorization": "Bearer " + token,
                },
                cache: "no-cache"
            });

            if (response.status === 401) {
                /* Forbidden; assume this means that our existing token is no longer valid and force a re-login. */
                sessionStorage.removeItem("token");
                sessionStorage.removeItem("fromEmail");
                location.reload();
            } else if (response.ok) {
                urls = await response.json();
            } else {
                console.error("Failed to fetch connections: " + response.statusText);
                showUI("showMessage", "Contacts unavailable");
            }

            return urls;
        }

        function showUI(state, data) {
            const login = document.querySelector("#login");
            const noShell = document.querySelector("#noShell");
            const message = document.querySelector("#message");
            const content = document.querySelector("#content");
            const contentImportWorkspace = document.querySelector("#contentImportWorkspace");
            if (!login) {
                return;
            }

            login.style.display = "none";
            noShell.style.display = "none";
            content.style.display = "none";
            message.style.display = "none";
            contentImportWorkspace.style.display = "none";

            switch (state) {
                case "noShell":
                    noShell.style.display = "block";
                    break;
                case "loggedOut":
                    login.style.display = "block";
                    idpLogin();
                    break;
                case "showMessage":
                    message.style.display = "block";
                    message.getElementsByTagName("span")[0].innerHTML = data;
                    break;
                case "showContacts":
                    {
                        const fieldTechs = data.filter(c => c.role === "FieldTech");
                        const experts = data.filter(c => c.role !== "FieldTech");

                        content.style.display = "block";
                        updateContactsTable(document.getElementById("fieldTechsTable"), fieldTechs);
                        updateContactsTable(document.getElementById("expertsTable"), experts);
                        break;
                    }
            }
        }

        async function openConnection(name, url) {
            if (!url) {
                return;
            }

            fetch(url, {
                method: "get"
            })
                .then(response => response.text())
                .then(url => {
                    if (url.includes("https://tools.ietf.org/html/rfc7231")) {
                        // The URL returned by the backend indicates that Onsight cannot call the contact
                        alert("There was a problem trying to contact " + name + ". Please use the Onsight Platform Manager to ensure this person is a member of your Onsight domain and try again.");
                    }
                    else {
                        // Onsight URL looks legit; open a new browser window to launch Connect app.
                        window.open(url);
                    }
                })
                .catch(reason => console.log("Failed to open connection to " + name + ": " + reason));
        }

        async function getWorkspaceDocuments() {
            let html = '';
            let results = 0;
            let element = $("#workspaceAssets");
            $("#importBtn").prop('disabled', true);

            const cloudHost = sessionStorage.getItem("cloudHost");
            const accountId = sessionStorage.getItem("accountId");
            const companyId = sessionStorage.getItem("companyId");
            const token = sessionStorage.getItem("token");
            const activityId = sessionStorage.getItem("activityId");
            const fromEmail = sessionStorage.getItem("fromEmail");

            await fetch("/api/v1/fsm/activity?h=" + cloudHost + "&a=" + accountId + "&c=" + companyId + "&av=" + activityId, {
                method: "GET",
                mode: "cors",
                credentials: "include",
                headers: {
                    "Authorization": "Bearer " + token,
                },
                cache: "no-cache"
            })
            .then(response => {
                if (response.status === 401) {
                    /* Forbidden; assume this means that our existing token is no longer valid and force a re-login. */
                    sessionStorage.removeItem("token");
                    sessionStorage.removeItem("fromEmail");
                    location.reload();
                    alert("There was a problem trying to import assets. Please try again.");
                } else if (response.ok) {
                    return response.json();
                } else {
                    console.error("Failed to fetch connections: " + response.statusText);
                }
            })
            .then(activity => {
                if (!activity.code) {
                    return;
                }
                return fetch('/api/v1/fsm/workspace-documents?activityCode=' + activity.code + '&from=' + fromEmail);
            })
            .then(response => response.json())
            .then(asset => {
                if (asset.type.includes("https://tools.ietf.org/html/rfc7231")) {
                    // The URL returned by the backend indicates that Onsight cannot locate the contact
                    alert("There was a problem trying to locate " + fromEmail + ". Please use the Onsight Platform Manager to ensure this person is a member of your Onsight domain and try again.");
                } else {
                    results = asset.totalResults;
                    html += `
                            <div style="margin-bottom: 15px;"><div class="accordion">
                            <h3>Onsight Workspace Documents (${results})</h3><div>`;
                    asset.documents.forEach(document => {
                        html += generateHtml(document)
                    });
                    html += '</div></div></div>';
                    element.html(html);
                }
            })
            .catch(error => {
                console.error("Failed to fetch workspace documents: " + error);
            })
            .finally(() => {
                $("#importBtn").prop('disabled', false);
                $(".accordion").accordion({
                    header: "> h3:not(.item)",
                    heightStyle: "content",
                    active: false,
                    collapsible: true
                });
                if (results == 0) {
                    $(".accordion").addClass("ui-state-disabled");
                }
            });
        }

        function generateHtml(document) {
            const WORKSPACE_ROOT_URI = 'https://workspace.librestream.com/onsight/ui/#!/browse/';
            var downloadUrl = WORKSPACE_ROOT_URI + 'cogswellsprockets.com/workspace' + document.path;
            var content = `
                        <div class="accordion">
                            <h3>${document.title}</h3>
                            <div>
                                <table>
                                    <tr><td><b>Document Title</b></td></tr>
                                    <tr><td>${document.title}</td></tr>
                                    <tr><td><b>ID</b></td></tr>
                                    <tr><td>${document.id}</td></tr>
                                    <tr><td><b>Type</b></td></tr>
                                    <tr><td>${document.type}</td></tr>
                                    <tr><td><b>External Metadata</b></td></tr>
                                    <tr><td>${JSON.stringify(document.externalMetadata)}</td></tr>
                                    <tr><td><b>Parent ID</b></td></tr>
                                    <tr><td>${document.parentID}</td></tr>
                                    <tr><td><b>Download URL</b></td></tr>
                                    <tr>
                                        <td>
                                            <a class="workspaceLink" target="_blank" href="${downloadUrl}">
                                                ${downloadUrl}
                                            </a>
                                        </td>
                                    </tr>
                                    <tr><td><b>Onsight Connect Call</b></td></tr>
                                    <tr><td>211007_210808_fieldtech</td></tr>
                                    <tr><td><b>Created By</b></td></tr>
                                    <tr><td>${document.createdBy}, ${formatDateTime(document.createdOn)}</td></tr>

                                    <tr><td><b>Owner</b></td></tr>
                                    <tr><td>${document.author}</td></tr>
                                </table>
                            </div>
                        </div>`;
            return content;
        }

        function formatDateTime(value) {
            var m = new Date(value);
            var dateString = (m.getUTCMonth() + 1) + "/" + m.getUTCDate() + "/" + m.getUTCFullYear() + " " + m.toLocaleString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true });
            return dateString;
        }

        function updateContactsTable(table, contacts) {
            if (!table || !contacts) {
                return;
            }

            /* Delete old table rows */
            while (table.rows.length > 0) {
                table.deleteRow(0);
            }

            /* Insert new table rows */
            for (var i = 0; i < contacts.length; i++) {
                const row = table.insertRow(table.rows.length);
                const name = row.insertCell(0);
                var clickAttrs = 'class="non-link"';
                if (contacts[i].connection) {
                    clickAttrs = 'class="contact-link" onclick="openConnection(\'' + contacts[i].name + '\', \'' + contacts[i].connection + '\')"';
                }
                name.innerHTML = '<a href="#" ' + clickAttrs + '>' + contacts[i].name + '</a>';

                if (contacts[i].title) {
                    name.innerHTML += ' - ' + contacts[i].title;
                }
            }

            if (contacts.length == 0) {
                const row = table.insertRow(0);
                const msg = row.insertCell(0);
                msg.innerHTML = "<span>None available</span>";
            }
        }</script>

    <div>
        <img src="~/images/onsight-logo.svg" width="150" height="70" class="center" style="width: 150px; height: 70px;" />
        <div class="heading center">REMOTE EXPERT ASSISTANCE</div>

        <div id="login" style="display: none; padding-top: 50px;">
            <span class="center">Loading...</span>
        </div>
        <div id="noShell" class="center" style="display: none;">
            <p>Extension needs to run inside Shell</p>
        </div>
        <div id="message" class="center" style="display: none; padding-top: 50px;">
            <span>&nbsp;</span>
        </div>
        <div id="content" style="display: none;">
            <div style="padding: 0px 0px 10px 0px;">Select a link below to initiate an Onsight Connect call with individuals assigned to this activity.</div>

            <div class="subheading">ASSIGNED FIELD RESOURCE(S)</div>
            <table id="fieldTechsTable" width="100%">
                <tr></tr>
            </table>
            <div class="subheading">ASSIGNED EXPERT/HELPDESK RESOURCE(S)</div>
            <table id="expertsTable" width="100%">
                <tr></tr>
            </table>
        </div>
        <div id="contentImportWorkspace" style="display: none;">
            <button style="margin:15px auto 15px auto;" class="center" id="importBtn" onclick="getWorkspaceDocuments()">Import Assets</button>
            <div id="workspaceAssets"></div>
        </div>
    </div>

</body>

</html>